@charset "UTF-8";
/* variables */
* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff; /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assure que le loader est au-dessus du contenu */
  animation: fadeOut 3s forwards; /* Animation pour cacher le loader après 4s */
}

.loader {
  text-align: center;
}
.loader .site-name {
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  color: #9356DC;
  margin-bottom: 0.5rem;
  animation: fadeIn 3s ease-in-out, bounce 2s ease-in-out infinite alternate; /* Animation pour le texte du site */
}
.loader .slogan {
  font-size: 1.5rem;
  color: #FF79DA;
  opacity: 0.7;
  animation: fadeIn 3s ease-in-out 2s; /* Ajoute un délai pour l'animation du slogan */
}

body {
  min-width: 320px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
  width: 218px;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Ombre portée par défaut */
}
.btn:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35); /* Ombre portée plus visible */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .return {
  position: absolute;
  left: 20px;
  top: 23px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  display: flex;
  width: 200px;
  height: 34.2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}

.localisation {
  box-shadow: inset 0px 2px 5px #cacbcb;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
}
.localisation i {
  margin-right: 16px;
}

.hero {
  display: grid;
  background: #f6f6f6;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center; /* Centre horizontalement */
}
.hero h1, .hero p {
  margin-bottom: 15px;
}

.fonctionnement, .restaurants {
  padding: 40px 20px 40px 20px;
}
.fonctionnement h2, .restaurants h2 {
  margin-left: 0;
  margin-bottom: 25px;
}
.fonctionnement .group, .restaurants .group {
  display: block;
  justify-content: center;
  counter-reset: list;
}

.restaurants {
  background: #f6f6f6;
}
.restaurants .colum {
  display: block;
}

.card {
  position: relative;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
}
.card .img-top {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 170px;
}
.card .card-body {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
  text-overflow: ellipsis;
}
.card .card-title {
  font-size: 18px;
}
.card .badge {
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  position: absolute;
  padding: 6px 0px 6px 11px;
  width: 78px;
  right: 12px;
  top: 14px;
  font-size: 14px;
  font-weight: 600;
}
.card .info-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
.card .info-container .card-title, .card .info-container .card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn-group {
  background: #f6f6f6;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}
.btn-group i {
  margin-left: 15px;
  margin-right: 15px;
}
.btn-group:hover {
  background: #f5edff;
}
.btn-group:hover i {
  color: #9356DC;
}

.btn-group::before {
  counter-increment: list;
  content: counter(list) " ";
  background: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  display: flex;
  margin-top: -2px;
  margin-left: -35px;
}

.heart-label {
  display: flex;
  cursor: pointer;
}
.heart-label .heart-checkbox {
  display: none;
}
.heart-label .heart-checkbox:checked + .fa-heart::before {
  content: "\f004";
  font-family: "FontAwesome";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  z-index: 1;
}
.heart-label .fa-heart {
  position: relative;
  color: grey;
  transition: color 0.3s ease;
  font-size: 21px;
}

.menu-img-top {
  width: 100%;
  object-fit: cover;
  position: relative;
  height: 383px;
}

.menu {
  background: #f6f6f6;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  border-radius: 40px 40px 0 0;
  margin-top: -4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1055px;
}
.menu .card {
  position: relative;
  overflow: hidden;
}
.menu .card:hover .info-container {
  width: calc(100% - 90px);
}
.menu .card:hover span {
  animation: left 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menu .card:hover .checkmark {
  animation: slide-left 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menu .card:not(:hover) span {
  animation: right 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.menu .card:not(:hover) .checkmark {
  animation: slide-right 750ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.menu .checkmark {
  display: flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #99e2d0;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  opacity: 0;
  transform: translateX(61px);
  transition: opacity 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.menu .title {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand", cursive;
  padding-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.title span {
  align-content: center;
  margin-left: 16px;
}

article {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
}
article:nth-child(1) {
  animation-delay: 0.5s;
}
article:nth-child(2) {
  animation-delay: 1s;
}
article:nth-child(3) {
  animation-delay: 1.5s;
}
article h2 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
  margin-left: 5px;
}
article .checkmark {
  display: flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #99e2d0;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  right: 0;
  width: 60px;
  height: 100%;
}

footer {
  display: flex;
  background: #353535;
  flex-direction: column-reverse;
  padding: 30px 25px 30px 25px;
}
footer .link a {
  display: block;
  color: #FFFFFF;
  margin-bottom: 10px;
}
footer .link a i {
  margin-right: 10px;
}
footer .logo-footer {
  display: flex;
  font-family: Shrikhand, cursive;
  font-weight: lighter;
  color: white;
  width: 139px;
  height: 27px;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
@keyframes fadeOut {
  100% {
    visibility: hidden;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(61px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(61px);
  }
}
@keyframes left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-61px);
  }
}
@keyframes right {
  from {
    transform: translateX(-61px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
/* media responsive */
@media screen and (min-width: 1224px) {
  .fonctionnement, .restaurants {
    padding: 50px 180px 50px 180px;
  }
  .fonctionnement .group, .restaurants .group {
    display: flex;
    gap: 25px;
  }
  .restaurants .colum {
    display: flex;
    gap: 25px;
  }
  footer {
    flex-direction: unset;
    justify-content: flex-end;
  }
  footer .link {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
  }
  footer .link a, footer .logo-footer {
    margin: 0;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
